/* Base CSS */
.container {
  border: 4px solid #000;
  margin: 20px auto;
}

.valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Selects all divs with "col-" in class attrubute */
div[class*="col-"] {
  background-color: #ffc0cb;
  min-height: 200px;
  border: 1px solid #000;
  border-bottom: 0;
  border-right: 0;
  position: relative;
}

.row:first-child > div[class*="col-"] {
  border-top: 0;
}

div[class*="col-"]:first-child {
    border-left: 0;
  }

.padding10 {
  padding: 10px;
}

/* Nested col */
.row .row > div[class*="col-"] {
  background-color: #f07f80;
  border: 1px solid #FFF;
}

.row .row > div[class*="col-"] {
  background-color: #f07f80;
  border-right: 0;
}

.row .row > div[class*="col-"]:last-child {
  background-color: #f07f80;
  border-right: 1px solid #FFF;;
}
